ul {
  list-style: none;
  padding: 0;
}
  
  .transactions-list li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #3c3c3c;
    transition: background-color 0.3s;
  }
  
  .transactions-list li:hover {
    background-color: #4f4f4f;
  }